In [2]:
import pandas as pd

**Change csv file directory**

In [3]:
dataset = pd.read_csv('feeds.csv')
dataset['created_at'] = pd.to_datetime(dataset['created_at'], format='ISO8601')
dataset.drop(['latitude','longitude','elevation','status','field3'],axis=1,inplace=True)
dataset.rename(columns = {'field1':'temp','field2':'ph'}, inplace = True)

# # Get the ammonia from obtained temp and pH values by using the formula from https://ieeexplore-ieee-org.dlsu.idm.oclc.org/stamp/stamp.jsp?tp=&arnumber=8269494
dataset['ammonia'] = (10**(0.0901821+(2729.92/(273.15-dataset['temp']))-dataset['ph']))**-1

# # Filters unwanted values
filtered_df = dataset[(dataset['temp']>25) & (dataset['temp']<40) & (dataset['ph']>5.5) & (dataset['ph']<9.5)].reset_index() # Filter temp values between 25 and 40 and pH values between 5.5 and 9.5
filtered_df.index = filtered_df.index.set_names(['new_index'])

In [4]:
filtered_df.to_csv('new feeds testing.csv')

In [6]:
filtered_df

           index                created_at  entry_id   temp    ph   ammonia
new_index
0              0 2023-07-29 08:01:57+00:00         1  28.19  7.64  0.000254
1              1 2023-07-29 08:03:02+00:00         2  28.25  7.62  0.000241
2              2 2023-07-29 08:04:03+00:00         3  28.19  7.57  0.000217
3              3 2023-07-29 08:05:15+00:00         4  28.19  7.55  0.000207
4              4 2023-07-29 08:06:20+00:00         5  28.19  7.51  0.000189
...          ...                       ...       ...    ...   ...       ...
71227      73012 2023-08-22 12:21:48+00:00     73013  28.69  9.46  0.015947
71228      73013 2023-08-22 12:22:08+00:00     73014  28.62  9.44  0.015342
71229      73014 2023-08-22 12:22:28+00:00     73015  28.69  9.46  0.015947
71230      73015 2023-08-22 12:22:48+00:00     73016  28.69  9.48  0.016698
71231      73017 2023-08-22 12:23:27+00:00     73018  28.62  9.47  0.016439

[71232 rows x 6 columns]